<html>
  <head>
    <meta charset="utf-8">
    <title>Where to go :)</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    
  <div class="navbar">
    <a href="{% url 'places:index'%}">Головна</a>
    <a href="{% url 'places:places_list'%}">Список місць</a>
    <a href="{% url 'places:add_place'%}">Додати місце</a>
  </div>

  <h1 style="text-align: center;">Список місць</h1>

    {% for id, place in places.items %}
        {% include "_preview.html" with place=place %}
    {% empty %}
        <p>Поки немає жодного місця</p>
    {% endfor %}

  </body>
</html>
